.reset-password-container {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.reset-password-form {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.reset-password-form-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-password-form-content h2 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 60px;
}

.reset-password-form-email {
    width: 25vw;
    min-width: 300px;
    margin-bottom: 20px;
}

.reset-password-form-email p {
    margin-bottom: 10px;
}

.reset-password-form-old-password {
    width: 25vw;
    min-width: 300px;
    margin-bottom: 20px;
}

.reset-password-form-old-password p {
    margin-bottom: 10px;
}

.reset-password-form-new-password {
    width: 25vw;
    min-width: 300px;
    margin-bottom: 20px;
}

.reset-password-form-new-password p {
    margin-bottom: 10px;
}

.reset-password-form-reenter-password {
    width: 25vw;
    min-width: 300px;
    margin-bottom: 20px;
}

.reset-password-form-reenter-password p {
    margin-bottom: 10px;
}

.reset-password-form-button {
    margin-top: 20px;
    width: 25vw;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.reset-password-form-login {
    text-align: center;
}